
<header id="header" class="transparent-navbar">
<!-- container -->
<div class="container">
  <!-- navbar header -->
  <div class="navbar-header">
      
    <!-- Logo -->
    <div class="navbar-brand">
      <a class="logo" href="/">
        <img class="logo-img" src="/img/techniiclogo3.png" alt="logo">
        <img class="logo-alt-img" src="/img/techniiclogo2.png" alt="logo">
      </a>
    </div>

    <button type="button" class="navbar-toggle">
           <i class="fa fa-bars"></i>
    </button>
    <!-- /Logo -->
       
    <!-- /Mobile toggle -->
  </div>
  <!-- /navbar header -->

  <!-- Navigation -->
  <nav id="nav">
    <ul class="main-nav nav navbar-nav navbar-right">
      <li style=""><a href="#home">Home</a></li>
      <li><a href="#courses">Courses</a></li>
      <li><a href="#speakers">Notices</a></li>
      <li><a href="#stars">Our Stars</a></li>
      <li><a href="#faculty">Our Faculties</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a  ui-sref ="login"><i class="fa fa-user"> </i>Register</a></li>
      <li><a  ui-sref ="login"> <i class="fa fa-sign-in" aria-hidden="true"></i>
Login</a></li>
      
      
    </ul>
  </nav>
  <!-- /Navigation -->
</div>
<!-- /container -->
</header>


<!-- /Header -->
<script src="/js/main.js"></script>
