<div class="box">
  <form ng-submit="authCtrl.signup()">
    <input type="text" name="name" placeholder="name" ng-model="authCtrl.user.name">
    <input type="email" name="email" placeholder="email" ng-model="authCtrl.user.email">
    <input type="tel" name="number" placeholder="mobile" ng-model="authCtrl.user.number">
    <input type="password" name="password" placeholder="password" ng-model="authCtrl.password">
    <button class="btn btn-lg btn-primary" type="submit">Sign Up</button>

    
  </form>
  
</div>


<div class="box">
  <form ng-submit="authCtrl.login()">
    <input type="email" name="email" placeholder="email" ng-model="authCtrl.login.email">
    <input type="password" name="password" placeholder="password" ng-model="authCtrl.login.password">
    <button class="btn btn-lg btn-primary" type="submit">Login</button>

    
  </form>
  
</div>