<ng-include src="'templates/includes/header.html'"></ng-include>

<!-- main -->
<div id="home">
	<!-- background image -->
	<div class="section-bg" style="background-image:url(/img/back.jpg)" data-stellar-background-ratio="0.5"></div>
	<!-- /background image -->

	<!-- home wrapper -->
	<div class="home-wrapper">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row" >
				<!-- home content -->

				<div class="col-md-8 col-md-offset-2">
					<div class="home-content">
						<h1>Ideal management Group</h1>
						<h4 class="lead">A place to improve your techniques.</h4>
						<button  type="button" class="btn btn-lg btn-outline-light rounded">Contact</a></button>
						
					</div>
				</div>
				<!-- /home content -->
			</div>
			<div class="row"  >
				<!-- home content -->
				<div class="col-md-3 col-lg-3">
					<div class="item">
						<img src="img/raise.png">
						<h4 class="title">Learn from the experts.</h4>
					</div>
				</div>
				<div class="col-md-3 col-lg-3">
					<div class="item">
						<img src="img/raise.png">
						<h4 class="lead">A place to improve your techniques.</h4>
					</div>
				</div>
				<div class="col-md-3 col-lg-3">
					<div class="item">  
						<img src="img/raise.png">
						<h4 class="lead">A place to improve your techniques.</h4>
					</div>
				</div>
				<div class="col-md-3 col-lg-3">
					<div class="item">
						<img src="img/raise.png">
						<h4 class="lead">A place to improve your techniques.</h4>
					</div>
				</div>
				<!-- /home content -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /home wrapper -->
</div>
<!-- /main -->

<!-- courses -->
<section id="courses" class="section container">
	<div class="section-title">
		<h3 class="title"><span style="color: #dd0a37";> Our </span> <span style="color: #dd0a37;">Courses</span></h3>
	</div>
	<div class="row ">
		
	    <div class="wrapper col-lg-4 col-md-4 col-sm-4 text-center" style="height: 600px !important;" ng-repeat="course in mainCtrl.courselist">
		    <a class="clash-card giant" ui-sref="course({courseName: course.title})">
		      <div class="clash-card__image clash-card__image--giant">
		        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant.png" alt="giant" />
		      </div>
		      <div class="clash-card__level clash-card__level--giant">Level 1</div>
		      <div class="clash-card__unit-name">{{course.title}}</div>
		      <div class="ion: clash-card__unit-description"> 
		        {{course.description}}
		      </div>

		      <!-- <div class=" clash-card__unit-stats clash-card__unit-stats--giant clearfix">
		        <div class="one-third">
		          <div class="stat">3<sup>months</sup></div>
		          <div class="stat-value">Training</div>
		        </div>

		        <div class="one-third">
		          <div class="stat">{{course.price}}</div>
		          <div class="stat-value">Price</div>
		        </div>

		        <a href="#" class="one-third no-border streched-link">
		          <div class="stat">Buy Now</div>
		           <div class="stat-value">Cost</div> -->
		       <!--  </a>
		      </div> --> 

		    </a> <!-- end clash-card giant-->
  		</div> <!-- end wrapper -->
  		<div class="clearfix"></div>
	    
	</div>

</section>

<!-- app -->
<!-- <section id="app-container" class="section" >
	<div class=" overlay ">
		<div class="row">
			<div class="col-md-6">
				<div class="widget-content">
					<div class="widget-wrap">
						<div class="widget-action">
							<h2 class="widget-title">Download and Enjoy</h2>
							<h5>Access your courses anywhere, anytime & prepare with practice tests</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</section> -->


<section id="stars" class="section container" >
	<div class="section-title">
		<h3 class="title"><span style="color: #dd0a37; padding-top: -90px"> Our </span> <span style="color: #dd0a37;">Stars</span></h3>
	</div>
	<div class="owl-carousel owl-theme" style="background-color: #fff !important;">
		    <div class="item " ng-repeat="star in mainCtrl.starlist">
		    	<div class="card"  >
			        <img class="card-img-top" src ="img/black-bg.jpg" alt="Bologna">
			        <div class="card-body text-center">
			          <img class="avatar img-circle" src={{star.image}} alt="Bologna" width="90" height="90">
			          <h4 class="card-title">{{star.name}}</h4>
			          <h6 class="card-subtitle mb-2 text-muted">{{star.session}}</h6>
			          <p class="card-text">{{star.company}} </p>
			          <a href="#" class="btn btn-info">Follow</a>
			          <a href="#" class="btn btn-outline-info">Message</a>
			        </div>
		      </div>
		    </div>
	</div>	
</section>

<!-- Contact -->
<div id="contact" class="section" style="background-color: #f9fafc">
    <!-- container -->
<div class="container">
  <!-- row -->
  <div class="row">
    <!-- section title -->
    <div class="section-title">
      <h3 class="title"><span style="color: #000;">Contact</span> <span style="color: #000;">Info</span></h3>
    </div>
    <!-- /section title -->

    <!-- contact -->
    <!-- /contact -->

    <!-- contact -->
   <div class="col-sm-4">
      <div class="contact">
        <h3>Mobile</h3>
       <a href="tel: +919407077858"><i class="fa fa-phone" aria-hidden="true"></i>
 +919407077858</a>
      </div>
    </div>
    <!-- /contact -->

    <!-- contact -->
    <div class="col-sm-4">
      <div class="contact">
        <h3>Email</h3>
        <a href="mail:shadrul100@gmail.com " target="_blank"> <i class="fa fa-envelope" aria-hidden="true"></i>
shadrul100@gmail.com</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="contact">
        <h3>Address</h3>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        	<p>1521, First Floor Bharat Sevashram Sangh, near Dena Bank, Wright Town, Jabalpur, Madhya Pradesh 482001</p>
      </div>
    </div>
    <!-- /contact -->

  </div>
  <!-- /row -->

	</div>
	<!-- /container -->
</div>

		<!-- Map -->
		<!-- <div id="map"></div> -->
		<!-- /Map -->

	<!-- /Contact -->


<!-- Footer -->
<ng-include src="'templates/includes/footer.html'"></ng-include>



<script >

	$(document).ready(function(){ 
		 $('.owl-carousel').owlCarousel({
    center: true,
    items:2,
    loop:true,
    margin:10,
    autoplay:true,
    autoplayHoverPause:true,
    responsive:{
        600:{
            items:4
        }
    }
});	

	}) 

</script>